@media(max-width:670px){
  header{
    height:50px;

  }
  header img{
    height:50px;
  }
  header a{
    line-height: 50px;
    height:50px;
  }
  h1{
    font-size: 20px;
  }
  .title{
    background-position: left top 50px;
  }
  h2{
    font-size:14px;
  }
  .promotions{
    padding:40px 0px;
  }
  .news{
    padding: 0 0 10px 0;

  }
  .icon{
    height:40px;
  }
  .news img{
    margin-top:0;
  }
  footer img{
    width:40%;
  }
 h4{
   font-size: 16px;
 }
 .news p{
   font-size: 14px;
 }
}
